# Python
.venv/
venv/
__pycache__/
*.pyc

# Node
node_modules/

# Build
dist/
build/

# Environment
.env

# Large Files
*.pth
*.pt
*.h5
*.mp4
*.avi
*.mov
datasets/
uploads/
models/

# VS Code
.vscode/

# OS
.DS_Store